In [2]:
import pandas as pd

In [7]:
stats = pd.read_csv("TEDViz.csv", index_col="Date", parse_dates=True)

In [6]:
stats.head()

,Date,TED_Subscribers,TED_Views,TEDx_Subscribers,TEDx_Views,TEDEd_Subscribers,TEDEd_Views
0,12/27/17,"8,640,554","949,556,620","10,132,388","1,977,817,137","5,599,119","806,611,236"
1,12/28/17,"8,648,717","950,180,787","10,145,303","1,980,224,258","5,605,097","807,290,552"
2,12/29/17,"8,656,213","950,778,199","10,162,828","1,982,747,490","5,610,252","807,930,129"
3,12/30/17,"8,664,163","951,384,860","10,178,795","1,985,296,682","5,616,612","808,618,615"
4,12/31/17,"8,670,817","951,916,621","10,190,566","1,987,445,371","5,621,778","809,235,618"

In [20]:
stats["TED_Views"] = stats["TED_Views"].str.replace(',', '')

In [21]:
stats.head()

,TED_Subscribers,TED_Views,TEDx_Subscribers,TEDx_Views,TEDEd_Subscribers,TEDEd_Views
Date,,,,,,
2017-12-27,8640554,949556620,10132388,10132388,5599119,806611236
2017-12-28,8648717,950180787,10145303,10145303,5605097,807290552
2017-12-29,8656213,950778199,10162828,10162828,5610252,807930129
2017-12-30,8664163,951384860,10178795,10178795,5616612,808618615
2017-12-31,8670817,951916621,10190566,10190566,5621778,809235618

In [22]:
import plotly
from plotly.graph_objs import Scatter, Layout
import plotly.graph_objs as go


literate = [go.Bar(x=stats.index, y=stats["TED_Views"])]


plotly.offline.plot({ 'data': literate,
            'layout': {
               'title': 'POPULATION LITERACY RATE IN TN',
               'xaxis': {
                 'title': 'YEAR'},
               'yaxis': {
                'title': 'POPULATION (in lakhs) '}
        }})

'file:///Users/siva/Documents/Code/DataScience/TED-Stats/temp-plot.html'

In [23]:
stats

,TED_Subscribers,TED_Views,TEDx_Subscribers,TEDx_Views,TEDEd_Subscribers,TEDEd_Views
Date,,,,,,
2017-12-27,8640554,949556620,10132388,10132388,5599119,806611236
2017-12-28,8648717,950180787,10145303,10145303,5605097,807290552
2017-12-29,8656213,950778199,10162828,10162828,5610252,807930129
2017-12-30,8664163,951384860,10178795,10178795,5616612,808618615
2017-12-31,8670817,951916621,10190566,10190566,5621778,809235618
2018-01-01,8678001,952497999,10204626,10204626,5626860,809822845
2018-01-02,8686164,953295807,10219394,10219394,5633414,810715328
2018-01-03,8696006,954173172,10230750,10230750,5641758,811764343
2018-01-04,8705823,955013352,10251547,10251547,5650433,812708587
2018-01-05,8715441,955909419,10267141,10267141,5657591,813623686
2018-01-06,8725590,956690640,10286408,10286408,5664176,814422303
2018-01-07,8736075,957515940,10303802,10303802,5672072,815277095
2018-01-08,8745426,958351151,10318956,10318956,5678587,816158692
2018-01-09,8755622,959130952,10337289,10337289,5685816,817047974
2018-01-10,8764858,959941442,10352481,10352481,5692467,817927904
2018-01-11,8770033,960741702,10370627,10370627,5695251,818879054
2018-01-12,8778016,961499585,10382145,10382145,5701295,819847522
2018-01-13,8786241,962218775,10394264,10394264,5707886,820759549
2018-01-14,8795996,962929570,10413630,10413630,5714601,821707420
2018-01-15,8805707,963713140,10428070,10428070,5721906,822583491
2018-01-16,8814366,964453263,10449263,10449263,5727965,823409838
2018-01-17,8824464,965237843,10464381,10464381,5735157,824293574
2018-01-18,8833060,966004599,10483482,10483482,5740610,825197655
2018-01-19,8842035,966750143,10498615,10498615,5747333,826039067
2018-01-20,8850120,967442299,10513704,10513704,5753159,826842992
2018-01-21,8859464,968139547,10529295,10529295,5759282,827632828
2018-01-22,8868164,968905407,10543942,10543942,5764706,828622897
2018-01-23,8877523,969664887,10560621,10560621,5770899,829699716
2018-01-24,8886172,970467778,10575284,10575284,5777953,830596076
2018-01-25,8888473,970726091,10580980,10580980,5779876,830950993